.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rewardBox {
    position: relative;
    background-color: black;
    border: 2px solid #FF7500;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px #FF7500;
    width: 22rem;
    text-align: center;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #FF7500;
    font-size: 20px;
    cursor: pointer;
  }
  
  .heading {
    color: white;
    margin-top: -5px;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 50px;
    font-family: 'JetBrains Mono', monospace;
  }
  
  .daysGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    margin-bottom: 50px;
  }
  
  .dayDiv {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF7500;
    border-radius: 100%;
    color: #FF7500;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
  }
  
  .activeDay {
    background-color: #FF7500;
    color: black;
  }
  
  .claimButton {
    background-color: #FF7500;
    color: black;
    border: none;
    margin-bottom: 30px;
    padding: 10px 5px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    width: 94%;
    box-shadow: 0 0 5px #FF7500;
    font-family: 'JetBrains Mono', monospace;
  }
  
  .claimButton:hover {
    background-color: #e06600;
  }
  