.pageContainer {
  width: 100%;
  min-height: auto;
  background: linear-gradient(to bottom, #301400, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'JetBrains Mono', monospace; 
  min-width: 320px;
  max-width: 100%;
  min-height: 600px;

}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
  position: relative;
}
.heading {
  font-size: 4vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
  text-align: center;

}

.supr {
  color: #FFFFFF;
}

.human {
  color: #FF7500;
}

.settingsIcon {
  position: absolute;
  right: 0;
  margin-left: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.characterContainer {
  text-align: center;
  position: relative;
}

.characterImage {
  width: 100%;
  height: auto;
  margin-top:2.3rem;
  z-index: 0;
  position: relative;
}

/* SuperBoost Container */
.superBoostContainer {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 0 150px 150px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.3px; */
  position: absolute;
  top: 50px;
  left: 0;
  width: 150px; 
  margin-left: -25px;
  height: 4rem;
}

/* Coins Per Min Container */
.coinsPerMinContainer {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 150px 0 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.3rem; */
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px; /* Adjusted width for spacing */
  margin-right: -25px;
  height: 4rem;
}

.superBoostTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.2rem;
}

.superBoostLabel {
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  font-weight: 900;
  color: #FFFFFF;
}

.coinsPerMinLabel {
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  margin-right: 20px;
}

.superText {
  color: #FF7500;
}

.boostText {
  color: #FFFFFF;
}

.comingSoon {
  font-size: 9px;
  font-family: 'JetBrains Mono', monospace;
  color: #FFFFFF;
  text-align: center;
  margin-top: -8px;
}

.coinsValue {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  font-weight: 700;
  color: #FF7500;
  margin-top: -11px;
  margin-right: 20px;
}

.superBoostIcon {
  width: 4rem;
  height: 4rem;
  margin-left: -60px;
  margin-top: 4px;
  margin-left: -50px;
}

.coinsPerMinIcon {
  width: 4rem;
  height: 4rem;
  margin-left: 10px;
  margin-top:6px;
}

.coinsPerMinTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .coinsPerMinIconContainer {
  margin-right: 10px;
} */

/* Boost Container */
.boostContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 85px;
  left: 0;
  width: 35px; 
}

/* Energy Container */
.energyContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 85px;
  right: 0;
  width: 35px; /* Adjusted width for alignment */
}

.boostLabel {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.7rem;
  font-weight: 900;
  color: #FFFFFF;
  margin-top: 1.5rem;

}

.energyLabel {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.7rem;
  font-weight: 900;
  color: #FFFFFF;
  margin-top: 1.5rem;
}

.boostIcon {
  width: 3.4rem;
  height: 3.4rem;
  margin-top: 6px;
  margin-top: -7px;
}

.energyValue {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.2rem;
  color: #FFFFFF;
  margin-top: -7px;
}

.coinsContainer {
  background-color: #000000;
  border: 1px solid #FF7500;
  border-radius: 1.2rem;
  box-shadow: 0 0 10px #FF7500;
  width: 60%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .valueContainer {
  background-color: #000000;
  border: 1px solid #FF7500;
  border-radius: 1.2rem;
  box-shadow: 0 0 10px #FF7500;
  width: 80%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: relative;
  
}

.coinsLabel,.coinsLabel2,.timeLabel {
  color: #FF7500;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.4rem;
}
.coinsLabel2 {
  color: #FFFFFF;
  font-family: 'JetBrains Mono', monospace;
  font-size: 2rem;
}

.timeContainer {
  margin-top: 2rem;
  text-align: center;
}

.coinsEarned {
  color: #FFFFFF;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.2rem;
  margin-top: -3rem;
  position: relative;
}


/* Modal Styling */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: #000000;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 6px #FF7500;
  border: 3.1px solid #FF7500;
  width: 68%;
  max-width: 400px;
  position: relative;
}


.closeButton {
position: absolute;
top: 10px;
right: 10px;
background: none;
border: none;
cursor: pointer;
}

.formContainer {
margin-top: 1.4rem;
margin-left: 1rem;
}

.label {
color: #ffffffd9;
font-size: 10px;
margin-bottom: 5px;
display: block;
}

.inputField, .selectField {
width: 90.1%;
padding: 10px;
margin-bottom: 15px;
border: 3.1px solid #FF7500;
background-color: #000000;
color: #FF7500;
border-radius: 5px;
font-size: 10px;
}

.inputField::placeholder, .selectField::placeholder {
color: #FF7500;
}

.selectField {
width: 99%;
padding: 10px;
margin-bottom: 15px;
border: 3.1px solid #FF7500;
background-color: #000000;
color: #FF7500;
border-radius: 5px;
font-size: 12px;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
position: relative;
background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ff7800d9"><path d="M7 10l5 5 5-5z"/></svg>');
background-repeat: no-repeat;
background-position: calc(100% - 10px) center;
background-size: 24px;
}

.selectField option {
background-color: #FF7500;
color: #000000;
font-weight: 700;
border: none;
border-bottom: 1px solid #000000;
padding: 8px 10px;
}

.selectField option:checked {
background-color: #000000;
color: #FF7500;
}


.actionButton1,.actionButton2 {
width: 94%;
padding: 12px;
margin-bottom: 15px;
background-color: #FF7500;
color: #000000;
border: none;
border-radius: 5px;
font-size: 15px;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0 0 2px #FF7500;
cursor: pointer;
}

.actionButton1{
  margin-top: 1.5rem;
}

.actionButton:hover {
background-color: #FF7500;
}


@keyframes moveUpAndRotate{
  0% {
    transform: translateY(0) rotate(90deg);
    opacity: 2;
  }
  100% {
    transform: translateY(-100px) rotate(180deg);
    opacity: 0;
  }
}

.coinPerTap {
  position: absolute;
  width: 3rem;
  height: 3.5rem;
  animation: moveUpAndRotate 1s ease-out forwards;
}


@media (max-width: 768px) {
  .pageContainer{
    width: 155%;
    padding-bottom:1rem;
  }
  .header{
    margin-top: 1.3rem;
  }
  .heading{
    font-size: 4rem;
  }
  .settingsIcon{
   width: 25px;
  height: 25px;
  }
  .superBoostContainer{
    width: 16rem;
    margin-left: -6rem;
    padding: 0.7rem;
    height: 6rem;
  }
  .coinsPerMinContainer{
    width: 16rem;
    margin-right: -5.85rem;
    padding: 0.7rem;
    height: 6rem;
  }
  .superBoostLabel{
    font-size: 1.5rem;
  }
  .coinsPerMinLabel{
    font-size: 1.5rem;
    margin-left: 0.8rem;
    margin-top: 3rem;
  }
  .comingSoon{
    font-size: 1rem;
  }
  .coinsValue{
    margin-bottom: 2.8rem;
    font-size:1.7rem;
  }
  .superBoostIcon,.coinsPerMinIcon{
    width: 4.6rem;
    height: 4.6rem;
  }
  .boostContainer{
    margin-top: 3.3rem;
    margin-left: -1.4rem;
  }
  .energyContainer{
    margin-top: 3.2rem;
    margin-right: -1.4rem;
  }
  .characterContainer{
    width: 73%;
  }
  .characterImage{
    width: 100%;
  }
  .valueContainer,.timeContainer{
    margin-left: 3.6rem;
  }
  .inputField,.selectField{
    width: 93%;
  }
  .actionButton1,.actionButton2{
    width: 93%;
  }
  }
  @media (max-width: 480px) {
  .pageContainer {
    width: 155%;
    padding-bottom: 3rem;
    position: fixed; 
    top: 0;
    left: 0;
  }
  .header {
    margin-top: 1.3rem;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 100; 
  }

  .heading {
    font-size: 2.8rem;
  }

  .settingsIcon {
    width: 2.8rem;
    height: 2.8rem;
  }

  .superBoostContainer, .coinsPerMinContainer {
    width: 14rem;
    padding: 0.5rem;
    position: fixed; 
    top: 5rem; 
  }

  .superBoostIcon, .coinsPerMinIcon {
    width: 4rem;
    height: 4rem;
  }

  .superBoostLabel {
    font-size: 0.9rem;
    margin-right: 2rem;
  }

  .coinsPerMinLabel {
    font-size: 0.85rem;
    margin-left: 0.8rem;
  }

  .comingSoon {
    font-size: 0.6rem;
    margin-right: 2rem;
  }

  .boostContainer {
    margin-top: 3.3rem;
    margin-left: -1.9rem;
    position: fixed; 
    bottom: 2rem; 
    left: 1rem; /

  .energyContainer {
    margin-top: 3.2rem;
    margin-right: -1.9rem;
    position: fixed;
    bottom: 2rem;
    right: 1rem; 
  }

  .boostLabel, .energyLabel {
    font-size: 1rem;
  }

  .energyValue {
    font-size: 1rem;
  }

  .boostIcon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .characterContainer {
    width: 73%;
  }

  .characterImage {
    height: 120vw;
  }

  .coinsEarned {
    margin-top: -6rem;
    font-size: 1.3rem;
  }

  .valueContainer {
    margin-left: 3.1rem;
  }

  .timeContainer {
    margin-left: 1.3rem;
    margin-top: 0.6rem;
  }

  .modalContent {
    width: 80%;
  }

  .inputField, .selectField {
    width: 93%;
  }

  .actionButton1, .actionButton2 {
    width: 93%;
  }
}


  @media (max-width: 425px) {
    .pageContainer{
      width: 155%;
      padding-bottom:3.7rem;
    }
    .header{
      margin-top: 1.3rem;
    }
    .heading{
      font-size: 2.9rem;
    }
    .settingsIcon{
      width: 2.8rem;
      height: 2.8rem;
    }
    .superBoostContainer{
      width: 11rem;
      margin-left: -5.3rem;
      /* padding: 0.7rem; */
      height: 5rem;
    }
    .coinsPerMinContainer{
      width: 11rem;
      margin-right: -5.03rem;
      /* padding: 0.7rem; */
      height: 5rem;
    }
    .superBoostIcon,.coinsPerMinIcon{
      width: 4rem;
      height: 4rem;
    }
    .superBoostLabel{
      font-size: 0.9rem;
      margin-right:2rem ;
    }
    .coinsPerMinLabel{
      font-size: 0.85rem;
      margin-left: 0.8rem;
    }
    .comingSoon{
      font-size: 0.6rem;
      margin-right: 2rem;
    }
    .superBoostIcon,.coinsPerMinIcon{
      width: 3.01rem;
      height: 3.01rem;
    }
    .boostContainer{
      margin-top: 3.3rem;
      /* font-size: 1rem; */
      margin-left: -1.4rem;
    }
    .energyContainer{
      margin-top: 3.2rem;
      margin-right: -1.4rem;
    }
    .boostLabel,.energyLabel{
      font-size: 0.9rem;
    }
    .energyValue{
      font-size: 1rem;
    }
    .boostIcon{
      width: 2.5rem;
      height: 2.5rem;
    }
    .characterContainer{
      width: 73%;
    }
    .characterImage{
      width: 100%;
      height: 130vw;
    }
    .coinsEarned{
      margin-top: -7rem;
      font-size: 1rem;
    }
    .valueContainer{
      margin-left: 3.1rem;
    }
    .timeContainer{
      margin-left: 1.3rem;
      margin-top: -0.5rem;
    }
    .modalContent{
      width: 80%;
    }
    .inputField,.selectField{
      width: 93%;
    }
    .actionButton1,.actionButton2{
      width: 93%;
    }
  }
  
  @media (max-width:380px) {
    .pageContainer{
      width: 155%;
      padding-bottom:3rem;
    }
    .header{
      margin-top: 1.3rem;
    }
    .heading{
      font-size: 2.6rem;
    }
    .settingsIcon{
      width: 2.8rem;
      height: 2.8rem;
    }
    .superBoostContainer{
      width: 11rem;
      margin-left: -5rem;
      /* padding: 0.7rem; */
      height: 5rem;
    }
    .coinsPerMinContainer{
      width: 11rem;
      margin-right: -4.59rem;
      /* padding: 0.7rem; */
      height: 5rem;
    }
    .superBoostIcon,.coinsPerMinIcon{
      width: 4rem;
      height: 4rem;
    }
    .superBoostLabel{
      font-size: 0.88rem;
      margin-right:1.5rem ;
    }
    .coinsPerMinLabel{
      font-size: 0.85rem;
      margin-left: 0.8rem;
    }
    .comingSoon{
      font-size: 0.6rem;
      margin-right: 2rem;
    }
    .superBoostIcon,.coinsPerMinIcon{
      width: 3.01rem;
      height: 3.01rem;
    }
    .boostContainer{
      margin-top: 3.3rem;
      /* font-size: 1rem; */
      margin-left: -1.4rem;
    }
    .energyContainer{
      margin-top: 3.2rem;
      margin-right: -1.4rem;
    }
    .boostLabel,.energyLabel{
      font-size: 0.8rem;
    }
    .energyValue{
      font-size: 1rem;
    }
    .boostIcon{
      width: 2.5rem;
      height: 2.5rem;
    }
    .characterContainer{
      width: 73%;
    }
    .characterImage{
      width: 93%;
      margin-top: 1.3rem;
      height: 145vw;
    }
    .coinsEarned{
      margin-top: -7.1rem;
      font-size: 1rem;
    }
    .valueContainer{
      margin-left: 3.1rem;
    }
    .timeContainer{
      margin-left: 1.8rem;
      margin-top: 0.6rem;
    }
    .modalContent{
      width: 80%;
    }
    .inputField,.selectField{
      width: 93%;
    }
    .actionButton1,.actionButton2{
      width: 93%;
    }
  }

  @media(max-width:345px){
    .pageContainer{
      width: 155%;
      padding-bottom:3rem;
    }
    .header{
      margin-top: 1.3rem;
    }
    .heading{
      font-size: 2.6rem;
    }
    .settingsIcon{
      width: 2.8rem;
      height: 2.8rem;
    }
    .superBoostContainer{
      width: 11rem;
      margin-left: -5rem;
      /* padding: 0.7rem; */
      height: 5rem;
    }
    .coinsPerMinContainer{
      width: 11rem;
      margin-right: -4.4rem;
      /* padding: 0.7rem; */
      height: 5rem;
    }
    .superBoostIcon,.coinsPerMinIcon{
      width: 4rem;
      height: 4rem;
    }
    .superBoostLabel{
      font-size: 0.88rem;
      margin-right:1.5rem ;
    }
    .coinsPerMinLabel{
      font-size: 0.85rem;
      margin-left: 0.8rem;
    }
    .comingSoon{
      font-size: 0.6rem;
      margin-right: 2rem;
    }
    .superBoostIcon,.coinsPerMinIcon{
      width: 3.01rem;
      height: 3.01rem;
    }
    .boostContainer{
      margin-top: 3.3rem;
      /* font-size: 1rem; */
      margin-left: -1.4rem;
    }
    .energyContainer{
      margin-top: 3.2rem;
      margin-right: -1.4rem;
    }
    .boostLabel,.energyLabel{
      font-size: 0.8rem;
    }
    .energyValue{
      font-size: 1rem;
    }
    .boostIcon{
      width: 2.5rem;
      height: 2.5rem;
    }
    .characterContainer{
      width: 73%;
    }
    .characterImage{
      width: 95%;
    }
    .coinsEarned{
      font-size: 1rem;
      margin-top: -6.5rem;

    }
    .valueContainer{
      margin-left: 3.1rem;
    }
    .timeContainer{
      margin-left: 2.2rem;
    }
    .modalContent{
      width: 80%;
    }
    .inputField,.selectField{
      width: 93%;
    }
    .actionButton1,.actionButton2{
      width: 93%;
    }
  } 
  @media(max-width:330px){
    .pageContainer{
      width: 155%;
      padding-bottom:5rem;
    }
    .header{
      margin-top: 1.3rem;
    }
    .heading{
      font-size: 2.6rem;
    }
    .settingsIcon{
      width: 2.8rem;
      height: 2.8rem;
    }
    .superBoostContainer{
      width: 11rem;
      margin-left: -5rem;
      /* padding: 0.7rem; */
      height: 5rem;
    }
    .coinsPerMinContainer{
      width: 11rem;
      margin-right: -4.2rem;
      /* padding: 0.7rem; */
      height: 5rem;
    }
    .superBoostIcon,.coinsPerMinIcon{
      width: 4rem;
      height: 4rem;
    }
    .superBoostLabel{
      font-size: 0.88rem;
      margin-right:1.5rem ;
    }
    .coinsPerMinLabel{
      font-size: 0.85rem;
      margin-left: 0.8rem;
    }
    .comingSoon{
      font-size: 0.6rem;
      margin-right: 2rem;
    }
    .superBoostIcon,.coinsPerMinIcon{
      width: 3.01rem;
      height: 3.01rem;
    }
    .boostContainer{
      margin-top: 3.3rem;
      /* font-size: 1rem; */
      margin-left: -1.4rem;
    }
    .energyContainer{
      margin-top: 3.2rem;
      margin-right: -1.4rem;
    }
    .boostLabel,.energyLabel{
      font-size: 0.8rem;
    }
    .energyValue{
      font-size: 1rem;
    }
    .boostIcon{
      width: 2.5rem;
      height: 2.5rem;
    }
    .characterContainer{
      width: 73%;
    }
    .characterImage{
      width: 95%;
    }
    .coinsEarned{
      font-size: 1rem;
      margin-top: -6.5rem;

    }
    .valueContainer{
      margin-left: 3.1rem;
    }
    .timeContainer{
      margin-left: 2.2rem;
    }
    .modalContent{
      width: 80%;
    }
    .inputField,.selectField{
      width: 93%;
    }
    .actionButton1,.actionButton2{
      width: 93%;
    }
  } 
