.pageContainer {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #301400, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "JetBrains Mono", monospace;
  /* padding-bottom: 30px; */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
  position: relative;
}

.heading {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
  text-align: center;
}

.supr {
  color: #ffffff;
}

.human {
  color: #ff7500;
}

.settingsIcon {
  position: absolute;
  right: 0;
  margin-left: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.characterContainer {
  text-align: center;
  position: relative;
}

.characterImage {
  width: 100%;
  height: 140vw;
  margin-top: 1.7rem;
  z-index: 0;
  position: relative;
}

/* SuperBoost Container */
.superBoostContainer {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 0 150px 150px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.3px; */
  position: absolute;
  top: 50px;
  left: 0;
  width: 150px; /* Adjusted width for spacing */
  margin-left: -25px;
  height: 4rem;
}

/* Coins Per Min Container */
.coinsPerMinContainer {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 150px 0 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.3rem; */
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px; /* Adjusted width for spacing */
  margin-right: -25px;
  height: 4rem;
}

.superBoostTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.2rem;
}

/* .superBoostIconContainer {
  margin-left: 10px;
} */

.superBoostLabel {
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.coinsPerMinLabel {
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin-right: 20px;
}

.superText {
  color: #ff7500;
}

.boostText {
  color: #ffffff;
}

.comingSoon {
  font-size: 9px;
  font-family: "JetBrains Mono", monospace;
  color: #ffffff;
  text-align: center;
  margin-top: -8px;
}

.coinsValue {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  font-weight: 700;
  color: #ff7500;
  margin-top: -11px;
  margin-right: 20px;
}

.superBoostIcon {
  width: 3rem;
  height: 3rem;
  margin-left: -60px;
  margin-top: 4px;
  margin-left: -50px;
}

.coinsPerMinIcon {
  width: 3rem;
  height: 3rem;
  margin-left: 10px;
  margin-top: 6px;
}

.coinsPerMinTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .coinsPerMinIconContainer {
  margin-right: 10px;
} */

/* Boost Container */
.boostContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 85px;
  left: 0;
  width: 35px; /* Adjusted width for alignment */
}

/* Energy Container */
.energyContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 85px;
  right: 0;
  width: 35px; /* Adjusted width for alignment */
}

.boostLabel {
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  font-weight: 500;
  color: #ffffff;
  margin-top: 1.5rem;
}

.energyLabel {
  font-family: "Poppins", sans-serif;
  font-size: 0.97rem;
  font-weight: 500;
  color: #ffffff;
  margin-top: 1.5rem;
}

.boostIcon {
  width: 3.4rem;
  height: 3.4rem;
  margin-top: 6px;
  margin-top: -7px;
}

.energyValue {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.4rem;
  color: #ffffff;
  margin-top: -7px;
}

.coinsContainer {
  background-color: #000000;
  border: 1px solid #ff7500;
  border-radius: 1.2rem;
  box-shadow: 0 0 10px #ff7500;
  width: 60%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.valueContainer {
  background-color: #000000;
  border: 1px solid #ff7500;
  border-radius: 1.2rem;
  box-shadow: 0 0 10px #ff7500;
  width: 80%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  margin-left: 35px;
  position: relative;
}

.coinsLabel,
.timeLabel {
  color: #ff7500;
  font-family: "JetBrains Mono", monospace;
  font-size: 2rem;
}
.coinsLabel2 {
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
  font-size: 2rem;
}

/* .valueLabel {
  color: #FF7500;
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
} */

.timeContainer {
  margin-top: 10px;
  text-align: center;
}

.coinsEarned {
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.2rem;
  margin-top: -70px;
  position: relative;
  /* z-index: 1; */
}

/* Modal Styling */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: #000000;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 6px #ff7500;
  border: 3.1px solid #ff7500;
  width: 68%;
  max-width: 400px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.formContainer {
  margin-top: 40px;
}

.label {
  color: #ffffffd9;
  font-size: 10px;
  margin-bottom: 5px;
  display: block;
}

.inputField,
.selectField {
  width: 90.1%;
  padding: 10px;
  margin-bottom: 15px;
  border: 3.1px solid #ff7500;
  background-color: #000000;
  color: #ff7500;
  border-radius: 5px;
  font-size: 10px;
}

.inputField::placeholder,
.selectField::placeholder {
  color: #ff7500;
}

.selectField {
  width: 99%;
  padding: 10px;
  margin-bottom: 15px;
  border: 3.1px solid #ff7500;
  background-color: #000000;
  color: #ff7500;
  border-radius: 5px;
  font-size: 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ff7800d9"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 24px;
}

.selectField option {
  background-color: #ff7500;
  color: #000000;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 8px 10px;
}

.selectField option:checked {
  background-color: #000000;
  color: #ff7500;
}

.actionButton {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background-color: #ff7500;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px #ff7500;
  cursor: pointer;
}

.actionButton:hover {
  background-color: #ff7500;
}

.coinPerTap {
  position: absolute;
  width: 40px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  pointer-events: none; /* Prevent further clicks on the coin */
  animation: moveUpAndFade 0.6s ease-out forwards; /* Faster animation */
  z-index: 1001; /* Ensure it's above other elements */
}
@keyframes moveUpAndFade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-80px); /* Moves further upwards */
    opacity: 0; /* Fades out */
  }
}

@media (max-width: 768px) {
  .pageContainer {
    width: 155%;
    padding-bottom: 5rem;
  }
  .header {
    margin-top: 1.3rem;
  }
  .heading {
    font-size: 4.3rem;
  }
  .settingsIcon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .superBoostContainer {
    width: 18rem;
    margin-left: -7rem;
    padding: 0.7rem;
    height: 7rem;
  }
  .coinsPerMinContainer {
    width: 17rem;
    margin-right: -6.7rem;
    padding: 0.7rem;
    height: 7rem;
  }
  .superBoostLabel {
    font-size: 1.6rem;
  }
  .coinsPerMinLabel {
    font-size: 1.6rem;
    margin-left: 0.8rem;
    margin-top: 3rem;
  }
  .comingSoon {
    font-size: 1rem;
  }
  .coinsValue {
    margin-bottom: 2.9rem;
    font-size: 1.9rem;
  }
  .superBoostIcon,
  .coinsPerMinIcon {
    width: 5rem;
    height: 5.1rem;
  }
  .boostContainer {
    margin-top: 5rem;
    font-size: 2rem;
    margin-left: -1.4rem;
  }
  .energyContainer {
    margin-top: 5rem;
    margin-right: -1.4rem;
    font-size: 2rem;
  }
  .boostLabel {
    font-size: 1.5rem;
  }
  .energyLabel {
    font-size: 1.5rem;
  }
  .characterContainer {
    width: 73%;
  }
  .characterImage {
    width: 100%;
  }
  .valueContainer,
  .timeContainer {
    margin-left: 3.6rem;
  }
}
@media (max-width: 480px) {
  .pageContainer {
    width: 155%;
    padding-bottom: 30rem;
  }
  .header {
    margin-top: 1.3rem;
  }
  .heading {
    font-size: 4rem;
  }
  .settingsIcon {
    width: 3.4rem;
    height: 3.4rem;
  }
  .superBoostContainer {
    width: 16rem;
    margin-left: -6rem;
    padding: 0.7rem;
    height: 6rem;
  }
  .coinsPerMinContainer {
    width: 16rem;
    margin-right: -5.85rem;
    padding: 0.7rem;
    height: 6rem;
  }
  .superBoostLabel {
    font-size: 1.5rem;
  }
  .coinsPerMinLabel {
    font-size: 1.5rem;
    margin-left: 0.8rem;
    margin-top: 3rem;
  }
  .comingSoon {
    font-size: 1rem;
  }
  .coinsValue {
    margin-bottom: 2.8rem;
    font-size: 1.7rem;
  }
  .superBoostIcon,
  .coinsPerMinIcon {
    width: 4.6rem;
    height: 4.6rem;
  }
  .boostContainer {
    margin-top: 3.3rem;
    margin-left: -1.4rem;
  }
  .energyContainer {
    margin-top: 3.2rem;
    margin-right: -1.4rem;
  }
  .characterContainer {
    width: 73%;
  }
  .characterImage {
    width: 100%;
  }
  .valueContainer,
  .timeContainer {
    margin-left: 3.6rem;
  }
}
@media (max-width: 425px) {
  .pageContainer {
    width: 155%;
    padding-bottom: 30rem;
  }
  .header {
    margin-top: 1.3rem;
  }
  .heading {
    font-size: 3rem;
  }
  .settingsIcon {
    width: 3.1rem;
    height: 3.1rem;
  }
  .superBoostContainer {
    width: 14rem;
    margin-left: -5rem;
    padding: 0.7rem;
    height: 6rem;
  }
  .coinsPerMinContainer {
    width: 14rem;
    margin-right: -4.7rem;
    padding: 0.7rem;
    height: 6rem;
  }
  .superBoostLabel {
    font-size: 1.3rem;
  }
  .coinsPerMinLabel {
    font-size: 1.3rem;
    margin-left: 0.8rem;
    margin-top: 3rem;
  }
  .comingSoon {
    font-size: 0.8rem;
  }
  .coinsValue {
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
  }
  .superBoostIcon,
  .coinsPerMinIcon {
    width: 4rem;
    height: 4rem;
  }
  .boostContainer {
    margin-top: 3.3rem;
    font-size: 2rem;
    margin-left: -1.4rem;
  }
  .energyContainer {
    margin-top: 3.2rem;
    margin-right: -1.4rem;
    font-size: 2rem;
  }
  .characterContainer {
    width: 73%;
  }
  .characterImage {
    width: 95%;
  }
  .valueContainer,
  .timeContainer {
    margin-left: 3.6rem;
  }
}

@media (max-width: 360px) {
  .pageContainer {
    width: 155%;
    padding-bottom: 30rem;
  }
  .header {
    margin-top: 1.3rem;
  }
  .heading {
    font-size: 3.2rem;
  }
  .settingsIcon {
    width: 2.8rem;
    height: 2.8rem;
  }
  .superBoostContainer {
    width: 11rem;
    margin-left: -5rem;
    padding: 0.7rem;
    height: 5rem;
  }
  .coinsPerMinContainer {
    width: 11rem;
    margin-right: -5rem;
    padding: 0.7rem;
    height: 5rem;
  }
  .superBoostLabel {
    font-size: 0.85rem;
  }
  .coinsPerMinLabel {
    font-size: 0.85rem;
    margin-left: 0.8rem;
  }
  .superBoostIcon,
  .coinsPerMinIcon {
    width: 3.07rem;
    height: 3.07rem;
  }
  .boostContainer {
    margin-top: 3.3rem;
    font-size: 2rem;
    margin-left: -1.4rem;
  }
  .energyContainer {
    margin-top: 3.2rem;
    margin-right: -1.4rem;
    font-size: 2rem;
  }
  .characterContainer {
    width: 73%;
  }
  .characterImage {
    width: 95%;
  }
  .valueContainer,
  .timeContainer {
    margin-left: 3.6rem;
  }
}
/*   
  @media (max-width: 360px) {
    .pageContainer{
      width: 130%;
      padding-bottom: 20rem;
    }

    .header{
      margin-top: 1.3rem;
    }
    .heading{
      font-size: 2.3rem;
    }
    .settingsIcon{
      width: 2rem;
      height: 2rem;
    }
    .superBoostContainer{
      width: 41%;
      margin-left: -2.8rem;
    }
    .coinsPerMinContainer{
      width: 41%;
      margin-right: -2.8rem;
    }
    .characterContainer{
      width: 81%;
    }
    .coinsContainer{
      width: 63%
    }
    .valueContainer{
      width: 78%;
    }

  }

  @media(max-width:345px){
    .pageContainer{
      width: 155%;
      padding-bottom:30rem;
    }
    .header{
      margin-top: 1.3rem;
    }
    .heading{
      font-size: 2.8rem;
    }
    .settingsIcon{
      width: 2.4rem;
      height: 2.4rem;
    }
    .superBoostContainer{
      width: 11rem;
      margin-left: -4.2rem;
      padding: 0.7rem;
      height: 5rem;
    }
    .coinsPerMinContainer{
      width: 11rem;
      margin-right: -4.2rem;
      padding: 0.7rem;
      height: 5rem;

    }
    .superBoostLabel,.coinsPerMinLabel{
      font-size: 0.73rem;
    }
    .superBoostIcon,.coinsPerMinIcon{
      width: 3.03rem;
      height: 3.03rem;
    }
    .boostContainer{
      margin-top: 3.3rem;
      font-size: 2rem;
      margin-left: -1.4rem;
    }
    .energyContainer{
      margin-top: 3.2rem;
      margin-right: -1.4rem;
      font-size: 2rem;
    }
    .characterContainer{
      width: 73%;
    }
    .characterImage{
      width: 95%;
    }
    .valueContainer,.timeContainer{
      margin-left: 3.6rem;
    }

  } */
/* 
  @media(max-width:335px){
    .pageContainer{
      width: 155%;
      padding-bottom:30rem;
    }
    .header{
      margin-top: 1.3rem;
    }
    .heading{
      font-size: 2.8rem;
    }
    .settingsIcon{
      width: 2.4rem;
      height: 2.4rem;
    }
    .superBoostContainer{
      width: 11rem;
      margin-left: -4.2rem;
      padding: 0.7rem;
    }
    .coinsPerMinContainer{
      width: 11rem;
      margin-right: -4.2rem;
      padding: 2.2rem;

    }
    .superBoostLabel,.coinsPerMinLabel{
      font-size: 0.73rem;
    }
    .superBoostIcon,.coinsPerMinIcon{
      width: 3.03rem;
      height: 3.03rem;
    }
    .boostContainer{
      margin-top: 3.3rem;
      font-size: 1rem;
    }
    .energyContainer{
      margin-top: 3.2rem;
      margin-right: -1rem;
      font-size: 1re;
    }
    .characterContainer{
      width: 73%;
    }
    .characterImage{
      width: 95%;
    }
    .valueContainer,.timeContainer{
      margin-left: 3.6rem;
    }
  }
   */
