.upgradeFooter {
  margin-top: auto;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  z-index: 100;
}

.pageContainer {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "JetBrains Mono", monospace;
  padding-bottom: 80px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
  position: relative;
}

.heading {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
  text-align: center;
}

.supr {
  color: #ffffff;
}

.human {
  color: #ff7500;
}

.settingsIcon {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.tabContainer {
  display: flex;
  justify-content: space-around;
  width: 97%;
  margin: 5px 0;
  margin-top: -15px;
  height: 60px;
}

.tab {
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid rgb(58, 58, 58);
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
}

.activeTab {
  color: #5a5a5a;
  border: 1px solid;
  color: #ff7500;
  /* box-shadow: 0 0 10px; */
}

.divsContainer {
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 21px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #0a0601, #000000);
}

.divContainer {
  background-color: #000000;
  border: 2px solid #ff7500;
  border-radius: 12px;
  width: calc(48% - 10px);
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  box-shadow: 0 0 3px #865020;
}

.itemHeader {
  background-color: #000000;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid;
  position: relative;
  /* z-index: 1;  */
  margin-top: 5px;
  margin-bottom: 0; /* Ensures no gap between header and content */
}

.itemName {
  font-family: "JetBrains Mono";
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-weight: 800;
}

.contentContainer {
  display: flex;
  flex-direction: row; /* Keeps the left and right halves side by side */
  height: calc(
    101% - 40px
  ); /* Adjust height to fit content excluding the header */
}

.leftContent {
  width: 60%;
  height: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 0.1px solid #4b4949;
  margin-top: 13px;
}

.rightContent {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5px;
}

.icon {
  width: 58px;
  height: 58px;
  margin-bottom: 6px;
  margin-top: -18px;
}

.coinMin,
.coinValue {
  color: #ffffff;
  font-size: 13px;
  margin: 2px;
}
.coinValue {
  margin-top: -1px;
}

.levelContainer,
.costContainer {
  display: flex;
  margin-top: -7px;
  flex-direction: column;
  align-items: center;
}

.costContainer {
  margin-top: -25px;
  border-top: 1px solid #4b4949;
  width: 45px;
  margin-left: 10px;
  padding-top: 5px;
  font-family: "JetBrains Mono", monospace;
}

.levelContainer p,
.costContainer p {
  color: #ffffff;
  font-size: 13px;
  margin: 2px;
  font-weight: 800;
  font-family: "JetBrains Mono", monospace;
}

.suprDivContainer {
  background-color: #000000;
  border: 2px solid #ff7500;
  border-radius: 7px;
  width: calc(91% - 10px);
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  box-shadow: 0 0 15px #653c18a5;
  margin-left: 20px;
}

.suprContentContainer {
  display: flex;
  flex-direction: row;
  height: calc(100% - 40px);
}

.suprLeftContent {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageCircle {
  background-color: #ff7500;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  margin-top: -20px;
}

.suprIcon {
  width: 70px;
  height: 70px;
}

.suprRightContent {
  height: 100px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-top: 4px;
  border-left: 0.1px solid #4f4d4d;
}

.suprUpperRight {
  display: flex;
  justify-content: space-between;
}

.suprBottomRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.levelContainerSupr,
.costContainerSupr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coinMin,
.coinValue {
  color: #ffffff;
  font-size: 12px;
  margin: 2px;
  font-weight: 800;
}

.suprBottomRight .coinMin {
  font-size: 12px;
  font-weight: 800;
}

.suprBottomRight .coinValue {
  font-size: 13px;
  font-weight: bold;
  font-weight: 800;
}

/* Pop-up Modal */
.popUpOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.popUpContainer {
  background-color: #000000;
  border: 1px solid #ff7500;
  border-radius: 15px;
  padding: 20px;
  width: 68%;
  max-width: 400px;
  position: relative;
  z-index: 201;
}

.popUpHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.popUpImageCircle {
  width: 90px;
  height: 90px;
  display: flex;
  margin-top: -75px;
  align-items: center;
  justify-content: center;
}

.popUpIcon {
  width: 70px;
  height: 70px;
}

.popUpHeading {
  color: #ff7500;
  font-size: 22px;
  margin-top: 10px;
  text-align: center;
  margin-top: 20px;
}

.popUpQuote {
  color: #a1a1a1;
  font-size: 14px;
  text-align: center;
  font-style: italic;
  margin-top: -20px;
  font-weight: 700;
}

.popUpDetails {
  border-top: 0.2px solid #4f4d4d;
  border-bottom: 0.2px solid #4f4d4d;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
}

.levelContainerPop,
.costContainerPop,
.coinContainerPop {
  display: flex;
  /* border: 0.5px solid grey; */
  flex-direction: column;
  align-items: center;
  width: 70px;
  padding: 5.5px;
}

.levelContainerPop p,
.costContainerPop p,
.coinContainerPop p {
  color: #ffffff;
  font-size: 13px;
  margin: 2px;
  font-family: "JetBrains Mono", monospace;
}

.levelContainerPop {
  border-right: 0.1px solid #4f4d4d;
}

.costContainerPop {
  border-right: 0.1px solid #4f4d4d;
}

.upgradeButton {
  background-color: #ff7500;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: 70%;
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
  font-weight: 600;
}

.closeIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.levelContainerSupr,
.costContainerSupr {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  margin-top: -4px;
  /* margin-left: 18px; */
  /* margin-right: 18px; */
  margin-bottom: 10px;
  /* border: 0.1px solid #4f4d4d; */
}

.levelContainerSupr {
  border-right: 0.1px solid #4f4d4d;
  width: 100px;
  padding-right: 20px;
}
.costContainerSupr {
  width: 100px;
  padding-left: 20px;
}

.levelContainerSupr p,
.costContainerSupr p,
.coinMin,
.coinValue {
  color: #ffffff;
  font-size: 13px;
  margin: 1px;
  font-weight: 800px;
}

.suprUpperRight {
  display: flex;
  /* justify-content: space-between; */
}

.suprBottomRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.1px solid #4f4d4d;
  padding-top: 10px;
  width: 100px;
  margin-left: 20px;
}

.suprGrey {
  color: grey;
}
